.navbar{
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar .logo{
    width: 150px;

}

.navbar-menu{
    display: flex;
    gap: 20px;
    list-style: none;
    color: rgb(67, 58, 47);
    font-size: 18px;
}
.navbar-right{
    display: flex;
    gap: 40px;
    align-items: center;
}
.navbar button{
background: transparent;
font-size: 60px;
color: #000;
bottom: 1px solid tomato;
padding: 10px 30px;
border-radius: 50px;
cursor: pointer;
transition: 0.3s;
}
.navbar button:hover{
    background: #f0f0f0;
    color: #000;
}
.navbar.active{
  padding-bottom: 2px ;
  border-bottom: 2px splid #462e2e;
}
.navbar li{
    cursor: pointer;
}   
.navbar-search-icon{
    position: relative;
}
.navbar-search-icon.dot{
    position: absolute;
    top: 0;
    right: 0;
    min-width: 10px;
    min-height: 10px;
    background-color: red;
    border-radius: 50%;
}